@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #F8FCFB;
  overflow-x: hidden;
}

.block {
  max-width: 1370px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
.block-title {
  font-size: 42px;
  font-weight: 800;
  text-transform: uppercase;
  color: #252525;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 50;
}
.header__block {
  display: flex;
  gap: 108px;
  align-items: center;
  padding: 28px 30px 18px;
}
.header__nav {
  list-style-type: none;
  display: flex;
  gap: 80px;
  font-size: 15px;
}
.header__nav a {
  color: #A8A8A8;
  transition: all 0.6s;
}
.header__nav a:hover {
  color: #252525;
}
.header__nav li {
  position: relative;
}
.header__nav li:hover .header__line {
  opacity: 1;
  margin-top: 9px;
}
.header__line {
  position: absolute;
  width: 34px;
  height: 1px;
  background-color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.6s;
}

.main {
  overflow-x: hidden;
}
.main__sign {
  margin-top: 160px;
}
.main__sign-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__sign-btn {
  padding: 17px 32px 18px 33px;
}
.main__sign-img {
  border-radius: 0 120px 0 120px;
  position: relative;
  z-index: 10;
}
.main__sign-left {
  position: relative;
}
.main__sign-right {
  max-width: 453px;
  text-align: right;
  position: relative;
  z-index: 10;
}
.main__sign-box {
  position: absolute;
  background-color: #3BC1AE;
  width: 523px;
  height: 593px;
  bottom: -41px;
  right: -41px;
  z-index: 0;
}
.main__sign-text {
  margin: 32px 0 38px;
  color: #282C2F;
}
.main__sign-ball-1 {
  left: -410px;
  top: -358px;
}
.main__sign-ball-2 {
  left: -283px;
  bottom: -234px;
}
.main__sign-ball-3 {
  right: -166px;
  bottom: 40px;
}
.main__sign-ball-4 {
  left: 398px;
  top: -163px;
}
.main__sign-ball-5 {
  top: 80%;
  left: -418px;
}
.main__sign-ball-6 {
  left: 1044px;
  top: 65%;
}
.main__sign .main__box-icon.skills {
  background: url("./../img/sign/music-disc-with-black-details-svgrepo-com.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__about {
  margin-top: 410px;
}
.main__about-block {
  display: flex;
  justify-content: space-between;
}
.main__about-list {
  margin-top: 117px;
  list-style-type: none;
  height: 460px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__about-list li {
  display: flex;
  align-items: center;
  gap: 11px;
}
.main__about-list li::before {
  content: url("./../img/about/Ellipse 208.svg");
  width: 8px;
  height: 8px;
  font-size: 8px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.main__about-right {
  position: relative;
}
.main__about-right img {
  position: relative;
  z-index: 10;
  border-radius: 0 120px 0 120px;
}
.main__about-box {
  width: 523px;
  height: 593px;
  background-color: #E1E3F7;
  position: absolute;
  z-index: 0;
  bottom: -42px;
  right: -41px;
}
.main__about-ball-1 {
  bottom: 54px;
  right: -50%;
  display: none;
}
.main__about-ball-2 {
  top: -19px;
  right: -117px;
  display: none;
}
.main__about-ball-3 {
  bottom: -80%;
  left: -247px;
}
.main__about .main__box-link {
  width: 22%;
  height: 16%;
}
.main__about .main__box-text {
  text-align: left;
  padding: 0 14px 25px;
}
.main__about .main__box-icon {
  background: url("./../img/about/share-svgrepo-com 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main__course {
  margin-top: 160px;
}
.main__course-block {
  position: relative;
}
.main__course-title {
  text-align: center;
  position: relative;
  z-index: 10px;
}
.main__course-items {
  margin-top: 112px;
  position: relative;
  z-index: 10;
}
.main__course-item {
  width: 100%;
  background-color: #fff;
  max-height: 161px;
  box-shadow: 0px 81.2114px 96.1714px -64.1143px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  padding: 40px 70px 39px;
  margin-top: 38px;
  display: flex;
  gap: 50px;
}
.main__course-right {
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__course-right p {
  font-size: 16px;
  font-weight: 400px;
}
.main__course-ball-1 {
  top: -150px;
  left: -310px;
  z-index: 0;
}
.main__course-ball-2 {
  top: 300px;
  left: -418px;
}
.main__course-ball-3 {
  right: -651px;
  top: 388px;
}
.main__course-ball-4 {
  top: 925px;
  left: -478px;
}
.main__course-ball-5 {
  top: 1497px;
  right: -680px;
}
.main__course-ball-6 {
  top: 2526px;
  left: -169px;
}
.main__result {
  margin-top: 220px;
  color: #252525;
}
.main__result-items {
  padding: 0 98px;
  margin-top: 145px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-between;
  row-gap: 110px;
}
.main__result-item {
  max-width: 225px;
}
.main__result-item-title {
  font-size: 20px;
  font-weight: 600px;
  margin: 40px 0;
  text-align: left;
  height: 72px;
}
.main__result-line {
  height: 1px;
  width: 151px;
  background-color: #3BC1AE;
  margin-bottom: 20px;
}
.main__video {
  margin-top: 320px;
}
.main__video-block {
  display: flex;
  justify-content: space-between;
}
.main__video-left {
  max-width: 430px;
}
.main__video-text {
  margin: 64px 0 63px;
  line-height: 20px;
}
.main__video-btn {
  line-height: 55px;
  padding: 0 57px;
}
.main__video-player {
  background: url("./../img/video/Screenshot_33 1.png");
  width: 647px;
  height: 353px;
  background-color: rgba(214, 224, 223, 0.15);
  border-radius: 21px;
  position: relative;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__video-icon {
  background: url("./../img/video/Group 211.svg");
  width: 115px;
  height: 115px;
  position: absolute;
  margin: auto auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.main__video-right {
  position: relative;
}
.main__video-box {
  background-color: #C6EAF2;
  height: 513px;
  width: 1100px;
  position: absolute;
  left: -15%;
  top: -80px;
  border-radius: 40px 0 0 40px;
  z-index: 0;
}
.main__price {
  margin-top: 241px;
}
.main__price-title {
  max-width: 513px;
  text-align: center;
  margin: 0 auto;
}
.main__price-items {
  margin-top: 200px;
}
.main__price-item {
  background-color: #fff;
  height: 555px;
  max-width: 410px;
  padding: 44px 37px;
  box-shadow: 0px 95.9771px 113.657px -75.7714px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__price-item-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 29px;
  padding-bottom: 26px;
  border-bottom: 1px solid #252525;
}
.main__price-wrapper {
  display: flex;
  justify-content: space-between;
}
.main__price-price {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 12px;
}
.main__price-subtitle {
  margin-bottom: 41px;
}
.main__price-list {
  text-align: left;
  padding-left: 40px;
}
.main__price-list li:not(:last-child) {
  margin-bottom: 20px;
}
.main__price-btn {
  width: 100%;
  line-height: 55px;
}
.main__feedback {
  margin: 240px 0 220px;
}
.main__feedback-title {
  text-align: right;
}
.main__feedback-items {
  display: flex;
  margin: 148px 0 0px;
}
.main__feedback-item {
  max-width: 604px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0px 81.2114px 96.1714px -64.1143px rgba(0, 0, 0, 0.15);
  padding: 55px;
  border-radius: 22px;
  display: flex;
  gap: 41px;
}
.main__feedback-img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
.main__feedback-name {
  font-size: 18px;
  font-weight: 600;
}
.main__feedback-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 40px;
}
.main__feedback-rating {
  display: flex;
  margin-top: 18px;
}
.main__feedback .star {
  background: url("./../img/feedback/Group 212.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__feedback .star-active {
  background: url("./../img/feedback/Group 210.svg");
}
.main__training {
  margin-top: 333px;
}
.main__training-title {
  max-width: 370px;
  text-align: right;
  margin: 0 0 0 auto;
}
.main__training-box {
  background: #C6EAF2;
  padding: 20px;
  backdrop-filter: blur(10px);
  border-radius: 40px;
}
.main__training-left {
  position: relative;
  height: 100%;
}
.main__training-img {
  position: absolute;
  top: -140px;
}
.main__training-list {
  list-style-type: none;
  max-width: 540px;
  margin: 0 0 0 auto;
  padding-top: 113px;
}
.main__training-list li {
  padding-left: 40px;
  position: relative;
}
.main__training-list li:not(:last-child) {
  padding-bottom: 20px;
}
.main__training-list li::before {
  content: url("./../img/check-mark-button-svgrepo-com 1.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 22px;
  left: -20px;
}
.main__box-skills {
  position: absolute;
  bottom: 5%;
  width: 50%;
  right: -32%;
}
.main__box-skills .main__box-content {
  padding: 22px 17px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}
.main__box-skills .main__box-blur {
  top: 0;
  left: 0;
}
.main__box-skills .main__box-text {
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 10px;
}
.main__box-link {
  position: absolute;
  width: 16%;
  height: 13%;
  top: -8px;
  left: 5px;
}
.main__box-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.main__box-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(108.46deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.14) 100%);
  backdrop-filter: blur(2.8721px);
  border-radius: 6.31861px;
  z-index: 20;
}
.main__box-icon {
  width: 60px;
  height: 60px;
  background: url("./../img/sign/Group.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 30;
  margin: 0 auto;
}
.main__box-text {
  position: relative;
  max-width: 200px;
  z-index: 30;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer {
  color: #fff;
  background-color: #1E1E1E;
  padding: 60px 0 90px;
}
.footer__section {
  display: flex;
  justify-content: space-between;
}
.footer__soc {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 17px;
}
.footer__soc a {
  background-color: transparent;
  height: 24px;
  width: 24px;
}
.footer__list {
  list-style-type: none;
  width: 33%;
}
.footer__list li:not(:last-child) {
  margin-bottom: 13px;
}
.footer__list a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 16px;
  margin: 20px 0 40px;
}
.footer__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.footer__btn {
  width: 232px;
  height: 46px;
  line-height: 46px;
  margin-top: 28px;
}

.num-block {
  font-size: 48px;
  font-weight: 700;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #3BC1AE;
  color: #fff;
  line-height: 80px;
  text-align: center;
}

.item-title {
  font-size: 20px;
  color: #252525;
  font-weight: 600;
}

.ball {
  background-color: #3BC1AE;
  opacity: 0.05;
  position: absolute;
  filter: blur(110.5px);
}
.ball-1 {
  width: 866px;
  height: 866px;
}
.ball-2 {
  width: 528px;
  height: 528px;
}
.ball-3 {
  width: 866px;
  height: 449px;
}
.ball-img {
  position: absolute;
  background: url("./../img/rheu 2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ball-img-1 {
  width: 387px;
  height: 387px;
}
.ball-img-2 {
  width: 336px;
  height: 336px;
}
.ball-img-3 {
  width: 745px;
  height: 745px;
}
.ball-img-4 {
  width: 508px;
  height: 508px;
}

.btn {
  background-color: #3BC1AE;
  outline: none;
  border: 0;
  box-shadow: 0px 4px 24px rgba(59, 193, 174, 0.15);
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.swiper-button-prev, .swiper-button-next {
  width: 54px;
  height: 54px;
  background-color: #fff;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 25px;
  color: #3BC1AE;
}

.body--stuck {
  overflow: hidden;
}

.swiper {
  overflow-y: visible;
  overflow-x: visible;
}

.mobile-btn {
  display: none;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px;
}
.popup--stuck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100% !important;
  background-color: rgba(52, 52, 52, 0.34);
  padding-top: 100px;
  z-index: 1000;
}
.popup--stuck iframe {
  max-width: 800px !important;
  border-radius: 24px;
  box-shadow: 0px 81.2114px 96.1714px -64.1143px rgba(0, 0, 0, 0.15);
}
.popup--stuck .popup-btn {
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50px;
  right: 200px;
  cursor: pointer;
}
.popup--stuck .popup-btn__line {
  position: relative;
  width: 40px;
  line-height: 70px;
}
.popup--stuck .popup-btn__line::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  transform: rotate(45deg);
}
.popup--stuck .popup-btn__line::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  transform: rotate(-45deg);
}

@media (max-width: 1025px) {
  body {
    overflow-x: hidden;
  }
  .block {
    max-width: 964px;
  }
  .block-title {
    font-size: 32px;
  }
  .main__sign-left {
    max-width: 60%;
  }
  .main__sign-left img {
    max-width: 100%;
  }
  .main__sign-right {
    max-width: 322px;
  }
  .main__sign-box {
    width: 80%;
    height: 481px;
    bottom: -33px;
    right: -33px;
  }
  .main__about {
    margin-top: 310px;
  }
  .main__about-left {
    width: 38%;
  }
  .main__about-list {
    max-width: 100%;
  }
  .main__about-right {
    width: 60%;
    display: flex;
    align-items: flex-end;
  }
  .main__about-right img {
    width: 100%;
  }
  .main__about-box {
    width: 85%;
    height: 75%;
  }
  .main__price-items {
    margin-top: 122px;
  }
  .main__price-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 122px;
  }
  .main__feedback-items {
    justify-content: center;
    height: auto;
    max-width: 630px;
  }
  .main__training-img {
    max-width: 488px;
    top: -37px;
  }
  .main__training-list {
    max-width: 379px;
    padding-top: 20px;
  }
  .main__result-items {
    padding: 0;
  }
  .main__video-block {
    flex-direction: column;
  }
  .main__video-left {
    padding: 0 37px;
    max-width: 100%;
    text-align: center;
  }
  .main__video-box {
    left: -100px;
  }
  .main__video-text {
    margin: 50px 0;
  }
  .ball-1 {
    width: 567px;
    height: 567px;
  }
  .ball-2 {
    width: 329px;
    height: 329px;
  }
  .ball-3 {
    width: 557px;
    height: 229px;
  }
  .ball-img-1 {
    width: 314px;
    height: 314px;
  }
  .ball-img-2 {
    width: 273px;
    height: 273px;
  }
  .ball-img-3 {
    width: 605px;
    height: 605px;
  }
  .popup-btn {
    right: 30px !important;
  }
}
@media (max-width: 800px) {
  .block {
    max-width: 743px;
  }
  .block-title {
    font-size: 24px;
  }
  .ball-1 {
    width: 382px;
    height: 382px;
  }
  .ball-2 {
    width: 232px;
    height: 232px;
  }
  .ball-3 {
    width: 382px;
    height: 198px;
  }
  .ball-img-1 {
    width: 215px;
    height: 215px;
    top: -90px;
    left: 35%;
  }
  .ball-img-2 {
    width: 187px;
    height: 187px;
    left: -30%;
  }
  .ball-img-3 {
    width: 360px;
    height: 360px;
    right: -40%;
    left: auto;
  }
  .ball-img-4 {
    width: 326px;
    height: 326px;
    left: -30%;
    top: -2%;
  }
  .header__block {
    gap: 0;
    justify-content: space-between;
  }
  .header__nav {
    gap: 59px;
  }
  .main__sign {
    margin-top: 90px;
  }
  .main__sign-left {
    max-width: 60%;
  }
  .main__sign-box {
    max-width: 80%;
    max-height: 80%;
    right: -22px;
    bottom: -22px;
  }
  .main__about {
    margin-top: 200px;
  }
  .main__about-left {
    width: 40%;
    margin-bottom: 70px;
  }
  .main__about-list {
    margin-top: 41px;
  }
  .main__about-right {
    width: 50%;
  }
  .main__about-box {
    right: -22px;
    bottom: -22px;
  }
  .main__about-ball-2 {
    display: none;
  }
  .main__about-ball-1 {
    display: none;
  }
  .main__course-item {
    padding: 40px;
    margin-top: 41px;
    max-height: 1000px;
  }
  .main__course-items {
    margin-top: 69px;
  }
  .main__result {
    margin-top: 97px;
  }
  .main__result-items {
    grid-template-columns: repeat(2, 45%);
    margin-top: 93px;
  }
  .main__training {
    margin-top: 97px;
  }
  .main__training-title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 80px;
  }
  .main__training .block {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .main__training-left {
    display: flex;
    justify-content: center;
  }
  .main__training-box {
    border-radius: 0px;
    display: flex;
    flex-direction: column-reverse;
  }
  .main__training-img {
    position: relative;
    width: 80%;
    bottom: 0;
    top: auto;
    padding-top: 59px;
    margin: 0 auto;
  }
  .main__training-list {
    margin: 0 auto;
  }
  .main__video {
    margin-top: 130px;
  }
  .main__video-player {
    width: 100%;
  }
  .main__video-text {
    margin-bottom: 376px;
  }
  .main__video-right {
    margin-top: -350px;
    padding-bottom: 150px;
  }
  .main__box-link {
    width: 30% !important;
    height: 20% !important;
  }
  .main__box-text::before {
    object-fit: cover;
    width: 10% !important;
    font-size: 34px;
    height: 34px !important;
  }
  .main__box-icon {
    width: 34px;
    height: 34px;
  }
  .main__price {
    margin-top: 120px;
  }
  .main__price-items {
    margin-top: 97px;
  }
  .main__feedback {
    margin: 68px 0 131px;
  }
  .main__feedback-items {
    margin-top: 68px;
  }
  .main__feedback-item {
    height: auto;
  }
  .footer {
    padding: 30px 0 64px;
  }
  .footer__section:last-child {
    flex-direction: column;
    align-items: center;
    gap: 52px;
  }
  .footer__line {
    margin: 5px 0 25px;
  }
  .footer__list {
    text-align: center;
    width: 300px;
  }
  .popup--stuck .popup-btn {
    width: 50px;
    height: 50px;
  }
  .popup--stuck .popup-btn__line {
    width: 30px;
  }
}
@media (max-width: 600px) {
  .header__logo img {
    display: flex;
    justify-content: center;
  }
  .header__nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin-bottom: 100px;
    padding-top: 80px;
    transform: translateY(-120%);
    transition: all 0.6s;
    box-shadow: 0px 81.2114px 96.1714px -64.1143px rgba(0, 0, 0, 0.15);
  }
  .header__nav.nav--stuck {
    transform: translateY(0%);
  }
  .header__nav.nav--stuck a {
    color: #252525;
  }
  .header__nav li {
    width: auto;
  }
  .header__line {
    display: none;
  }
  .main__sign-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .main__sign-left {
    max-width: 80%;
  }
  .main__sign-right {
    max-width: 250px;
    text-align: center;
    margin: 54px auto;
  }
  .main__about-block {
    flex-direction: column;
  }
  .main__about-right {
    max-width: 100%;
    width: 100%;
  }
  .main__about-left {
    max-width: 100%;
    width: 100%;
  }
  .main__course-item {
    height: 194px;
    align-items: center;
    gap: 19px;
  }
  .main__course-item-title {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .main__course-num {
    width: 62px;
    height: 62px;
    font-size: 36px;
    line-height: 62px;
  }
  .main__course-right {
    height: auto;
  }
  .main__course-right p {
    font-size: 13px;
  }
  .main__video-player {
    height: 300px;
  }
  .main__video-box {
    height: 466px;
  }
  .mobile-line {
    width: 34px;
    height: 3px;
    background-color: #000;
    position: relative;
    border-radius: 5px;
    transition: all 0.4s;
  }
  .mobile-line::before {
    content: "";
    height: 3px;
    width: 34px;
    background-color: #000;
    position: absolute;
    top: -10px;
    border-radius: 5px;
    transition: all 0.6s;
  }
  .mobile-line::after {
    content: "";
    height: 3px;
    width: 34px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
    transition: all 0.6s;
  }
  .mobile-btn {
    display: block;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-btn.menu-stuck .mobile-line {
    background-color: transparent;
  }
  .mobile-btn.menu-stuck .mobile-line::before {
    top: 0;
    transform: rotate(45deg);
  }
  .mobile-btn.menu-stuck .mobile-line::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}
@media (max-width: 428px) {
  .header__block {
    padding: 15px;
  }
  .ball-1 {
    width: 178px;
    height: 178px;
  }
  .ball-2 {
    width: 108px;
    height: 108px;
  }
  .ball-3 {
    width: 178px;
    height: 92px;
  }
  .main__price {
    margin-top: 85px;
  }
  .main__price-wrapper {
    gap: 72px;
  }
  .main__price-items {
    margin-top: 57px;
  }
  .main__result {
    margin-top: 78px;
  }
  .main__result-num {
    margin: 0 auto;
  }
  .main__result-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    margin-top: 60px;
  }
  .main__result-line {
    margin: 0 auto 20px;
  }
  .main__result-item {
    text-align: center;
  }
  .main__result-item-title {
    text-align: center;
  }
  .main__sign {
    margin-top: 40px;
  }
  .main__sign img {
    border-radius: 0 50px;
  }
  .main__about {
    margin-top: 90px;
  }
  .main__feedback {
    margin: 64px 0 77px;
    font-size: 15px;
  }
  .main__feedback-img {
    width: 60px;
    height: 60px;
  }
  .main__feedback-items {
    margin-top: 25px;
    height: auto;
  }
  .main__feedback-item {
    padding: 28px;
    gap: 20px;
  }
  .main__feedback-title {
    text-align: center;
  }
  .main__training-list li::before {
    left: -5px;
  }
  .main__box-skills {
    width: 90%;
    right: -30%;
  }
  .main__box-icon {
    width: 25px;
    height: 25px;
  }
  .main__box-text {
    font-size: 9px;
    max-width: 120px;
  }
  .main__video-player {
    height: 200px;
    width: auto;
  }
  .main__video-box {
    height: 272px;
    top: -35px;
  }
}
@media (max-width: 320px) {
  .ball-1 {
    width: 160px;
    height: 160px;
  }
  .ball-2 {
    width: 97px;
    height: 97px;
  }
  .ball-3 {
    width: 160px;
    height: 82px;
  }
}